html {
    display: flex;
    justify-content: center;
    min-height: 100%;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.App {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.Header, .main, .Footer {
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px -10px #333
}

.Header {
    height: 25%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.Profession {
    margin-bottom: 0px;
}

.Foto {
    width: 200px;
}

@media screen and (max-width: 600px) {
    .Foto {
        width: 100px
    }
}

.social-media {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 7px;
}

.language-btn {
    top: 3%;
    right: 1%;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    padding: 2px 10px;
    color:black;
    border: none;
    box-shadow: 5px 5px 10px -6px #333;
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .language-btn {
        font-size: 0.8rem;
    }
}

.main {
    height: 70%;
    margin: 10px;
    display: flex;
    padding: 5px 30px;
    align-items: top;
    justify-content: center;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
        height: min-content;
    }
}

.main-left {
    flex: 1;
}

.main-right {
    flex: 1;
    padding-left: 30px;
}

@media screen and (max-width: 600px) {
    .main-right {
        padding-left: 0;
    }
}

.Footer {
    height: 5%;
    margin: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.footer-text {
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 6px;
    margin-top: 6px;
}

p {
    font-size: 1rem;
    font-weight: 500;
}

li {
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}

.adress {
    padding-top: 0;
    margin-top: 0;
    font-style: italic;
    font-weight: 500;
}

.date {
    font-style: italic;
    font-weight: 600;
    display: inline;
    padding-left: 5px;
}

a {color: #555}
a:active {color: #555}
a:hover {color: #555}
a:visited {color: #555}

.skill {
    display: flex;
    align-items: center;
  }

.skill-html, .skill-css, .skill-js, .skill-react {
    background-color: #333;
    width: 100px;
    border: none;
    border-radius: 5px;
    height: 20px;
    margin-left: 10px;
    position: relative;
}

.skill-html::after {
    content: "";
    background-color: #999;
    border-radius: 5px;
    width: 99%;
    height: 100%;
    position: absolute;
    top: 0}

.skill-css::after {
    content: "";
    background-color: #999;
    border-radius: 5px;
    width: 85%;
    height: 100%;
    position: absolute;
    top: 0}
    
.skill-js::after {
    content: "";
    background-color: #999;
    border-radius: 5px;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0}

.skill-react::after {
    content: "";
    background-color: #999;
    border-radius: 5px;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0}