* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html {
    margin: 0;
    background-color: black;
}

body {
    padding: 0.5em 0;
    margin: 0;
}

.container {
    border-radius: 10px;
    padding: 0.4em 0;
}

.header, main, .footer {
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px -10px #333;
    margin: 1em;
    padding: 0.5em;
}

.header {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Profession {
    font-style: italic;
}

.contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.social-media > h5 {
    margin-right: 0.5em;
}

.social-icon {
    margin-left: 0.5em;
}

h3, h4, p {
    margin: 0.5em 0;
}

h1 {
    font-size: 2rem;
    margin: 0.5em 0;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: 1em 0;
}

.header h2 {
    margin: 0;
}

h3, h4 {
    font-size: 1.2rem;
}

p, .contacts-title{
    font-size: 1rem;
    line-height: 2em;
    font-weight: 600;
    font-style: italic;
}

li {
    line-height: 2em;
}

.contacts-title {
    margin: 0;
    font-weight: 600;
}

.language-btn {
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    padding: 2px 10px;
    color:white;
    border: none;
    box-shadow: 5px 5px 10px -6px #333;
    font-size: 1rem;
    font-weight: 700;
}

.adress {
    padding-top: 0;
    margin-top: 0;
    font-style: italic;
}

.date {
    font-style: italic;
    display: inline;
    margin-left: 0.2em;
}

main {
    padding: 1em 1.5em;
}

a {
    color: black;
}
a:active {color: black}
a:hover {color: black}
a:visited {color: black}

.skill {
    display: flex;
    align-items: center;
}

.skill-html, .skill-css, .skill-js, .skill-react {
    background-color: #333;
    width: 100px;
    border: none;
    border-radius: 5px;
    height: 20px;
    margin-left: 10px;
    position: relative;
}

.skill-html::after {
    content: "";
    background-color: #999;
    border-radius: 5px;
    width: 99%;
    height: 100%;
    position: absolute;
    top: 0}

.skill-css::after {
    content: "";
    background-color: #999;
    border-radius: 5px;
    width: 85%;
    height: 100%;
    position: absolute;
    top: 0}

.skill-js::after {
    content: "";
    background-color: #999;
    border-radius: 5px;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0}

.skill-react::after {
    content: "";
    background-color: #999;
    border-radius: 5px;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0}

.footer {
    text-align: center;
}

@media (min-width: 570px) {

    .language-btn {
        position: absolute;
        right: 4%;
    }
}

@media (min-width: 768px) {

    .language-btn {
        right: 2.5%;
        top: 2%;
    }

    .header {
        flex-direction: row;
        justify-content: center;
    }

    .Foto {
        width: 300px;
    }

    .container {
        align-items: center;
        margin: 0 auto;
        max-width: 800px;
        position: relative;
    }

    main {
        display: flex;
        gap: 2em;
    }

    .main-right {
        flex: 1;
    }

    .main-left {
        flex: 1;
        border-right: 0.2px solid #DDD;
    }
}